* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.flex-grid {
    display: flex;
    width: 100px;
    height: 380px;
    justify-content: center;
    margin: 20px auto;
}

.cell {
    width: 15px;
    height: 15px;
    border: 1px solid #d3d3d3;
}

.alive {
    background-color: #333333;
}

.dead {
    background-color: white;
}

h1 {
    color: black;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    width: 50%;
}

.controller {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-content: center;
}

.btn {
    padding: 5px;
    border-radius: 5px;
    width: 45px;
}
