.flex-grid {
    display: flex;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 20px;
}

.cell {
    width: 10px;
    height: 10px;
    border: 1px solid #d3d3d3;
    box-sizing: border-box; /* make the border part of the cell */
}

.alive {
    background-color: #333333;
}

.dead {
    background-color: white;
}

h1, h2 {
    color: black;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    width: 50%;
}
